.keyword {
  color: #cd6f80;
}
.title {
  font-size: 1.5rem;
  color: #666666;
  text-align: center;
}
.page-title {
  font-size: 2rem;
  color: #353535;
  text-align: center;
}
img {
  max-width: 100%;
}

.q1{
  margin:0;
  padding:0;
  display:flex;
  flex-wrap: wrap;
  height:600px;
  width:600px;
}

.q1 li{
  width: 200px;
  height: 200px;
  line-height: 200px;
  text-align: center;
  font-size: 30px;
  box-sizing: border-box;
  border: solid black;
  list-style-type:none;
}

.q1 li:nth-child(1){
 border-right: 0;
 border-bottom: 0;
}

.q1 li:nth-child(2){
  border-right: 0;
  border-bottom: 0;
 }

.q1 li:nth-child(3){
   border-bottom: 0;
  }
 
.q1 li:nth-child(4){
    border-right: 0;
    border-bottom: 0;
   }
 
.q1 li:nth-child(5){
    border-right: 0;
    border-bottom: 0;
   }
 
.q1 li:nth-child(6){
    border-bottom: 0;
   }
   
.q1 li:nth-child(7){
    border-right: 0;
   }

.q1 li:nth-child(8){
    border-right: 0;
   } 
