.keyword {
  color: #cd6f80;
}
.title {
  font-size: 1.5rem;
  color: #666666;
  text-align: center;
}
.page-title {
  font-size: 2rem;
  color: #353535;
  text-align: center;
}
img {
  max-width: 100%;
}

.q1{
  margin:0;
  padding:0;
  display:flex;
  flex-wrap: wrap;
  height:600px;
  width:600px;
}

.q1 li{
  width: 200px;
  height: 200px;
  line-height: 200px;
  text-align: center;
  font-size: 30px;
  box-sizing: border-box;
  border: solid black;
  list-style-type:none;
}

.q1 li:nth-child(1){
 border-right: 0;
 border-bottom: 0;
}

.q1 li:nth-child(2){
  border-right: 0;
  border-bottom: 0;
 }

.q1 li:nth-child(3){
   border-bottom: 0;
  }
 
.q1 li:nth-child(4){
    border-right: 0;
    border-bottom: 0;
   }
 
.q1 li:nth-child(5){
    border-right: 0;
    border-bottom: 0;
   }
 
.q1 li:nth-child(6){
    border-bottom: 0;
   }
   
.q1 li:nth-child(7){
    border-right: 0;
   }

.q1 li:nth-child(8){
    border-right: 0;
   } 



   .grid {
    display: grid;
    width: 900px;
    height: 350px;
    grid-template-columns: repeat(2, 1fr) repeat(2, 1.5fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }

    .ga {
     line-height: 116px;
     text-align: center;
     font-size: 30px;
     box-sizing: border-box;
     border: solid 0.5px black;
    }
    
    .ga1 { 
      line-height: 232px;
      grid-area: 1 / 1 / 3 / 3;
     }
    .ga2 { grid-area: 1 / 3 / 2 / 4; }
    .ga3 { grid-area: 1 / 4 / 2 / 5; }
    .ga4 { grid-area: 2 / 3 / 3 / 4; }
    .ga5 { grid-area: 2 / 4 / 3 / 5; }
    .ga6 { grid-area: 3 / 1 / 4 / 3; }
    .ga7 { grid-area: 3 / 3 / 4 / 5; }